.App {
  user-select: none;
}

p {
  line-height: 1.4rem;
}

.header {
  padding: 0rem 4rem 1rem 4rem;
  background: #4392F1;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer {
  height: 5rem;
  background: #438ce4;
}

.social-link {
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

svg {
  padding-right: 0.5rem;
}

video {
  border-radius: 0.375rem 0.375rem 0rem 0rem;
  width: 100%;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}

.social {
  font-size: 1rem;
  padding: 1rem;
  transition: .2s;
  border-radius: .375rem;
  margin: 0rem 1rem;
}

.social:hover {
  background: #438ce4;
}

.projects {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 2rem;
  background: #f9fcff;
}

.card {
  width: 100%;
  /* height: 100%; */
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: .375rem;
  transition: .3s;
  background: white;
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.card-body {
  padding: 0rem 1rem 1rem 1rem;
  color: black;
}

.tag {
  border-radius: .375rem;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: white;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap;
}

.rainbow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0.5rem;
  transition: .3s .1s;
}

.rainbow:hover {
  height: 10rem;
}
